.App {
  text-align: center;
  text-decoration-color: blanchedalmond;
  
  /* Product section Begin */
}
.container{
  padding: auto;

}
.purchase-card{
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  margin: 50px;
  
}

  /* Product section End */


/* wishlist section */

.container.page-container {
    height: calc(100vh - 80px);
    margin-top: 0px;
    margin-bottom: 0px;
}

.wishlist {
    border-radius: 4px;
    background-color: #dddddd;
    flex-grow: 1;
    height: 100%;
}

.wishlist .wishlist-title {
    border-bottom: 2px solid #343434;
}