
.navbar{

	padding: 20px;
	font-size: 20px;
	font-family: 'Open Sans', sans-serif;
}

.navbar-brand{
	font-family: 'Pacifico', cursive
}

img{
	width: 200px;
	height: 250px;
	margin: 0 20px;
	margin-bottom: 20px;
	float: left;
}
#books{
	width:25%;
	margin: 100px;
}
.row{
	display: flex;
	flex-wrap: wrap;
	padding: 0 4px;
	
}
.col{
	flex: 50%;
  max-width: 50%
}

.container{
	display: grid;
}
#search{
	margin:auto;
	padding: 20px;
}

